/*General configurations*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Urbanist', sans-serif;
}

#big-title{
  display: block;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: white;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

#big-description{
  display: block;
  color: white;
  font-size: 25px;
  text-justify: auto;
}

.first-title{
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.secondary-title{
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.third-title{
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}

.normal-text{
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.btn{
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.btn-light{
  color: black;
  background-color: white;
  transform: translateY(0);
  transition: 1s ease-out;
}

.btn-light:hover{
  background-color: lightgray;
  transform: translateY(-3px);
  transition: 1s ease-out;
}

/*Player container configuration*/
.player-container{
  height: 100vh;
  padding: 30px;
  position: relative;
  display: flex;
}

.selected-video-container{
  position: relative;
  height: 100%;
  width: 80%;
  min-width: 400px;
  padding: 0 10px;
}

.video-content-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.selectedVideo{
  min-height: 90%;
}

.video-title{
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-list-container{
  height: 100%;
  width: 20%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px;
}


.video-list-container::-webkit-scrollbar {
  height: 3px !important;
  width: 5px !important;
  background-color: transparent !important;
}

.video-list-container::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.video-list-container::-webkit-scrollbar-thumb {
  background-color: #cacaca !important;
  border-radius: 15px !important;
}

.section-container{
  width: 100%;
  border-bottom: solid 1px lightgray;
}

.section-title-container{
  padding: 10px;
}

.section-content{
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.video-card-container{
  padding: 10px;
  transition: 0.5s ease-out;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.video-card-container:hover{
  background-color: lightgray;
  transition: 0.5s ease-out;
}

.video-card-container:hover .fa-play{
  color: white;
  transform: scale(1.5);
  transition: 0.3s ease-out;
}

.play-btn{
  display: flex;
  align-items: center;
}

.fa-play{
  color: lightgray;
}