{% extends 'base.html' %}
{% load static %}


<!-- Content -->
{% block content %}

<section>
  <div class="body-1">
    <div class="container-sing shadow-lg">
      <div class="heading-singin">Recuperar Contraseña</div>
      <form action="{% url "users:password_reset" %}" method="post">
        {% csrf_token %}
  
        <div class="card-details-singin1" >
            <div class="card-box-signin">
              <label for="username" class="details-signin">Email</label>
              <input type="text" id="email" name="{{password_reset_form.email.name}}" placeholder="Ingrese su email.">
            </div>          
        </div>
        <div class="button">
          <input type="submit" value="Enviar email">
          </span>
        </div>
      </form>
    </div>

  </div>
  
</section>

{% endblock content %}