{% extends 'base.html' %}
{% load static %}


<!-- Content -->
{% block content %}
<section>
  <div class="body-1">
    <div class="container-sing shadow-lg">
      <div class="heading-singin">Cambiar Contraseña</div>
      <form action="" method="post">
        {% csrf_token %}
        <div class="card-details-singin" >
          {% if messages %}
            {% for message in messages  %}
              {{messages}}
            {% endfor %}
          {% endif %}
          <div class="card-box-signin">
            <label for="username" class="details-signin">Contraseña</label>
            <input type="Password" id="username" name="new_password" placeholder="Ingrese su contraseña">
          </div>
          <div class="card-box-signin">
            <label for="pass1" class="details-signin">Confirmar Contraseña</label>
            <input  type="Password" id="pass1" name="confirm_password" placeholder="Confirme contraseña">
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Cambiar contraseña">
          <input type="hidden" name="user_id" value="{{user_id}}">
          </span>
        </div>
      </form>
    </div>

  </div>
  
</section>

{% endblock content %}