{% extends 'base.html' %}
{% load static %}


<!-- Content -->
{% block content %}

<section>
  <div class="body-1">
    <div class="container-sing shadow-lg">
      <div class="heading-singin">Inicio sesión</div>
      <form action="{% url "users:login" %}" method="post">
        {% csrf_token %}
        <div class="card-details-singin" >
          <div class="card-box-signin">
            <label for="username" class="details-signin">Nombre Usuario</label>
            <input type="text" id="username" name="{{form.username.name}}" placeholder="Ingrese su nomrbe de usuario ">
          </div>
          <div class="card-box-signin">
            <label for="pass1" class="details-signin">Contraseña</label>
            <input  type="Password" id="pass1" name="{{form.password.name}}" placeholder="Ingrese su contraseña">
          </div>
        </div>
        <a href="{% url 'users:password_reset' %}" class="card-pass">¿Olvidaste tu contraseña?</a>
        <div class="button">
          <input type="submit" value="Iniciar sesión">
          </span>
        </div>
        <p class="mt-2 text-sm text-gray-600" style="text-align: center;">
            O
            <a href="{% url 'users:signup' %}" class="font-medium text-blue-600 hover:text-blue-500">
              Crea una cuenta
            </a>
          </p>
      </form>
    </div>

  </div>
  
</section>

{% endblock content %}