{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} <title>Platzigram sign up</title>

    <form action="{% url 'users:signup' %}" method="POST">
        {% csrf_token %}
{{form.username}}
        {{ form.as_p }}

        <button class="btn btn-primary btn-block mt-5" type="submit">Register!</button>

    </form> {% endcomment %}

    <section>
      <div class="body-1">
        <div class="container-register shadow-lg">
          <div class="heading">Registrarte</div>
          <label for="">Es rapido y fácil.</label>
          <form action="" method="post">
            {% csrf_token %}
            
            <div class="card-details  ">
              <div class="card-box">
                <span class="details">Nombre Usuario</span>
                <input type="text" id="username" name="{{form.username.name}}" placeholder="entre su nomrbe de usuario ">
              </div>
              <div class="card-box">
                <span class="details">Nombre</span>
                <input type="text" id="fname" name="{{form.first_name.name}}" placeholder="entre su nombre ">
              </div>
              <div class="card-box">
                <span class="details">Apellidos</span>
                <input type="text" id="lname" name="{{form.last_name.name}}"  placeholder="entre su apellido ">
              </div>
              <div class="card-box">
                <span class="details">Correo electronico</span>
                <input type="email" id="email" name="{{form.email.name}}" placeholder="entre su correo electronico ">
              </div>
              <div class="card-box">
                <span class="details" >Contraseña</span>
                <input type="password" id="pass1" name="{{form.password.name}}" placeholder="entre su contraseña">
              </div>
              <div class="card-box">
                <span class="details">Confirmacion de contraseña</span>
                <input type="password" id="pass2" name="{{form.password_confirmation.name}}" placeholder="entre su contraseña ">
              </div>
            </div>
            <div class="button">
              {% comment %} <button id="registroButton" type="submit">Registrarte</button> {% endcomment %}
              <input id="registroButton" type="submit" value="Registrarte">
              </span>
            </div>
          </form>
        </div>
    
      </div>
      
    </section>

    

{% endblock %}


<!-- Content -->

