{% load static %}
{% block content %}



<footer class="backgroundColors-blue-2 " id="end-footer">
  
  <div class="container">
    <div class="row pt-4 pt-lg-8 pb-4">
      <div class="col-12 col-lg-4 order-1 order-lg-0 pl-4">
        <h1 class="d-flex text--blue justify-content-center justify-content-lg-start">
          Enraiz Plant Food
        </h1>
        <div class="footer-redes d-flex justify-content-center d-lg-none mb-3">
          <div class="btn-rounded d-flex justify-content-center align-items-center mr-3 backgroundColors-blue-4">
            <a href="https://www.instagram.com/enraizfood/?hl=es" target="_blank">
              <img src={% static "images/logos/instagram.svg" %} alt="Enraiz 2022" class="img-fluid">
            </a>
          </div>
        </div>
        <p class="d-flex justify-content-center d-lg-none">
          <a href="" class="text--x text--blue text--nunitoRegular text-center">Políticas de privacidad | Terminos y
            Condiciones</a>
        </p>
        <p class="text--nunitoBold text--blue text--x text-justify text-center text-lg-left pr-lg-7">
          Copyright de todo el contenido © 2022 Enraiz
        </p>
        <p class="text--nunitoRegular text--blue-opaque text--x text-justify text-center text-lg-left pr-lg-7">
          Prohibida su reproducción total o parcial, así como su traducción a cualquier idioma sin autorización escrita
          de su titular.
        </p>
      </div>
      <div class="row d-none d-lg-flex justify-content-center col-12 col-lg-5">
        <div class="row col-12  mx-0">
          <div class="col-6 px-0">
            <h4 class="text--vagBold text--m text--blue mb-3">Explora Mundo Vegano</h4>
            <h5 class="mb-3"><a href="#" class="text--vagRegular text--md text--blue ">Sobre Enraiz</a>
            </h5>
            <h5 class="mb-3"><a href="#" class="text--vagRegular text--md text--blue ">Recetas</a>
            </h5>
            <h5 class="mb-3"><a href="#" class="text--vagRegular text--md text--blue ">Preguntas
                frecuentes</a></h5>
            <h5 class="mb-3"><a href="#" class="text--vagRegular text--md text--blue ">Blog</a>
            </h5>
            <h5 class="mb-3"><a href="#" class="text--vagRegular text--md text--blue ">Contacto</a></h5>
          </div>
          <div class="col-6 px-0">
            <h4 class="text--vagBold text--m text--blue mb-3">Información legal</h4>
            <h5 class="mb-3"><a href="#"
                class="text--vagRegular text--md text--blue ">Politicas de Privacidad</a></h5>
            <h5 class="mb-3"><a href="#"
                class="text--vagRegular text--md text--blue ">Términos y condiciones</a></h5>
          </div>
        </div>
        <div class="col-12">
          <div class="footer-redes d-flex">
            <div class="btn-rounded d-flex justify-content-center align-items-center mr-3 backgroundColors-blue-4">
              <a href="https://www.instagram.com/enraizfood/?hl=es" target="_blank">
                <img src={% static "images/logos/instagram.svg" %} alt="Enraiz 2022" class="img-fluid">
              </a>

            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3 order-0 order-lg-2">
        <figure class="d-none d-lg-flex mt-lg-n6">
          <img src={% static "images/enraiz.png" %} alt="Enraiz 2022" class="w-100">
        </figure>
        <figure class="d-flex justify-content-center d-lg-none">
          <img src={% static "images/enraiz.png" %} alt="Enraiz 2022" class="img-fluid">
        </figure>
      </div>
    </div>
  </div>
</footer>

{% endblock %}